---
import Default from 'starlight-theme-nova/components/MobileMenuFooter.astro';
---
<div class="cw-mobile-nav">
  <a href="/crosswalker/getting-started/installation/">Docs</a>
  <a href="/crosswalker/blog/">Blog</a>
  <a href="https://github.com/cybersader/crosswalker">GitHub</a>
</div>
<Default />
